<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-huawei-hms" version="2.6.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-huawei-hms</name>
    <description>Cordova Huawei HMS Plugin</description>
    <author>350561378@qq.com</author>
    <license>MIT</license>
    <keywords>cordova,huawei,push,pay,huaweipush,hms</keywords>
    <preference name="APPID" />
    <preference name="PACKAGENAME" />
    <dependency id="cordova-plugin-device" />
    <js-module name="CordovaHuaweiHMS" src="www/cordova-huawei-hms.js">
        <clobbers target="cordova.plugins.huaweipush" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaHuaweiHMS">
                <param name="android-package" value="com.waitaction.huaweipush.CordovaHuaweiHMS" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.NoActionBar" />
            <meta-data android:name="com.huawei.hms.client.appid" android:value="appid=$APPID"></meta-data>
            <meta-data android:name="com.huawei.hms.client.cpid" android:value="cpid=$CPID"></meta-data>
            <activity android:name="com.huawei.hms.activity.BridgeActivity" android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale" android:excludeFromRecents="true" android:exported="false" android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent">
                <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent" />
            </activity>
            <activity android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity" android:configChanges="orientation|screenSize" android:exported="false" android:theme="@style/upsdkDlDialog">
                <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />
            </activity>
            <activity android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity" android:configChanges="orientation|keyboardHidden|screenSize" android:exported="false" android:theme="@style/upsdkDlDialog">
                <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent" />
            </activity>
            <activity android:name="com.huawei.android.hms.agent.common.HMSAgentActivity" android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale" android:excludeFromRecents="true" android:exported="false" android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent">
                <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent" />
            </activity>
            <activity android:name="com.huawei.android.hms.agent.pay.HMSPayAgentActivity" android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale" android:excludeFromRecents="true" android:exported="false" android:hardwareAccelerated="true" android:theme="@android:style/Theme.Translucent">
                <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent" />
            </activity>
            <provider android:name="com.huawei.hms.update.provider.UpdateProvider" android:authorities="$PACKAGENAME.hms.update.provider" android:exported="false" android:grantUriPermissions="true"></provider>
            <provider android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider" android:authorities="$PACKAGENAME.updateSdk.fileProvider" android:exported="false" android:grantUriPermissions="true">
            </provider>
            <service android:name="com.huawei.updatesdk.service.deamon.download.DownloadService" android:exported="false"/>
            <receiver android:name="com.waitaction.huaweipush.HuaweiPushReceiver">
                <intent-filter>
                    <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                    <action android:name="com.huawei.android.push.intent.RECEIVE" />
                    <action android:name="com.huawei.android.push.intent.CLICK" />
                    <action android:name="com.huawei.intent.action.PUSH_STATE" />
                </intent-filter>
                <meta-data android:name="CS_cloud_ablitity" android:value="successRateAnalytics"></meta-data>
            </receiver>
            <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
                <intent-filter>
                    <action android:name="com.huawei.intent.action.PUSH" />
                </intent-filter>
            </receiver>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
        </config-file>
        <source-file src="src/android/lib/HMS_SDK_2.6.1.301.jar" target-dir="libs"/>
        <source-file src="src/android/CordovaHuaweiHMS.java" target-dir="src/com/waitaction/huaweipush/" />
        <source-file src="src/android/HuaweiPushReceiver.java" target-dir="src/com/waitaction/huaweipush/" />
        <!--hms agent code-->
        <!--com/huawei/android/hms/agent/common/handler/-->
        <source-file src="src/android/com/huawei/android/hms/agent/common/handler/CheckUpdateHandler.java" target-dir="src/com/huawei/android/hms/agent/common/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/handler/ConnectHandler.java" target-dir="src/com/huawei/android/hms/agent/common/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/handler/ICallbackCode.java" target-dir="src/com/huawei/android/hms/agent/common/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/handler/ICallbackResult.java" target-dir="src/com/huawei/android/hms/agent/common/handler/" />
        <!--com/huawei/android/hms/agent/common/-->
        <source-file src="src/android/com/huawei/android/hms/agent/common/ActivityMgr.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/ApiClientMgr.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/BaseAgentActivity.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/BaseApiAgent.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/CallbackCodeRunnable.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/CallbackResultRunnable.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/CheckUpdateApi.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/EmptyConnectCallback.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/HMSAgentActivity.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/HMSAgentLog.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/IActivityDestroyedCallback.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/IActivityPauseCallback.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/IActivityResumeCallback.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/IClientConnectCallback.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/INoProguard.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/IOUtils.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/StrUtils.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/ThreadUtil.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <source-file src="src/android/com/huawei/android/hms/agent/common/UIUtils.java" target-dir="src/com/huawei/android/hms/agent/common/" />
        <!--com/huawei/android/hms/agent/hwid/handler-->
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/handler/SignInHandler.java" target-dir="src/com/huawei/android/hms/agent/hwid/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/handler/SignOutHandler.java" target-dir="src/com/huawei/android/hms/agent/hwid/handler/" />
        <!--com/huawei/android/hms/agent/hwid-->
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/CheckSignInApi.java" target-dir="src/com/huawei/android/hms/agent/hwid/" />
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/HMSSignInAgentActivity.java" target-dir="src/com/huawei/android/hms/agent/hwid/" />
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/SignInApi.java" target-dir="src/com/huawei/android/hms/agent/hwid/" />
        <source-file src="src/android/com/huawei/android/hms/agent/hwid/SignOutApi.java" target-dir="src/com/huawei/android/hms/agent/hwid/" />
        <!--com/huawei/android/hms/agent/pay-->
        <source-file src="src/android/com/huawei/android/hms/agent/pay/GetPayOrderApi.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/GetProductDetailsApi.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/GetPurchaseInfoApi.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/HMSPayAgentActivity.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/HMSPMSPayAgentActivity.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/PayApi.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/PaySignUtil.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/ProductPayApi.java" target-dir="src/com/huawei/android/hms/agent/pay/" />
        <!--com/huawei/android/hms/agent/pay/handler-->
        <source-file src="src/android/com/huawei/android/hms/agent/pay/handler/GetOrderHandler.java" target-dir="src/com/huawei/android/hms/agent/pay/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/handler/GetProductDetailsHandler.java" target-dir="src/com/huawei/android/hms/agent/pay/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/handler/GetPurchaseInfoHandler.java" target-dir="src/com/huawei/android/hms/agent/pay/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/handler/PayHandler.java" target-dir="src/com/huawei/android/hms/agent/pay/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/pay/handler/ProductPayHandler.java" target-dir="src/com/huawei/android/hms/agent/pay/handler/" />
        <!--com/huawei/android/hms/agent/push-->
        <source-file src="src/android/com/huawei/android/hms/agent/push/DeleteTokenApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/EnableReceiveNormalMsgApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/EnableReceiveNotifyMsgApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/GetPushStateApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/GetTokenApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/QueryAgreementApi.java" target-dir="src/com/huawei/android/hms/agent/push/" />
        <!--com/huawei/android/hms/agent/push/handler-->
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/DeleteTokenHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/EnableReceiveNormalMsgHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/EnableReceiveNotifyMsgHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/GetPushStateHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/GetTokenHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/push/handler/QueryAgreementHandler.java" target-dir="src/com/huawei/android/hms/agent/push/handler/" />
        <!--com/huawei/android/hms/agent/sns-->
        <source-file src="src/android/com/huawei/android/hms/agent/sns/GetMsgSendIntentApi.java" target-dir="src/com/huawei/android/hms/agent/sns/" />
        <source-file src="src/android/com/huawei/android/hms/agent/sns/GetUiIntentApi.java" target-dir="src/com/huawei/android/hms/agent/sns/" />
        <!--com/huawei/android/hms/agent/sns/handler-->
        <source-file src="src/android/com/huawei/android/hms/agent/sns/handler/GetMsgSendIntentHandler.java" target-dir="src/com/huawei/android/hms/agent/sns/Handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/sns/handler/GetUiIntentHandler.java" target-dir="src/com/huawei/android/hms/agent/sns/Handler/" />
        <!--com/huawei/android/hms/agent/game-->
        <source-file src="src/android/com/huawei/android/hms/agent/game/FloatWindowApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/GameLoginSignUtil.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/GetTemperatureApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/LoginApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/RegisterHardwareCapabilityApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/SavePlayerInfoApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/UpdateGameInfoApi.java" target-dir="src/com/huawei/android/hms/agent/game/" />
        <!--com/huawei/android/hms/agent/game/handler-->
        <source-file src="src/android/com/huawei/android/hms/agent/game/handler/GetTemperatureHandler.java" target-dir="src/com/huawei/android/hms/agent/game/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/handler/ICheckLoginSignHandler.java" target-dir="src/com/huawei/android/hms/agent/game/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/handler/LoginHandler.java" target-dir="src/com/huawei/android/hms/agent/game/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/handler/RegisterHardwareCapabilityHandler.java" target-dir="src/com/huawei/android/hms/agent/game/handler/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/handler/SaveInfoHandler.java" target-dir="src/com/huawei/android/hms/agent/game/handler/" />
        <!--com/huawei/android/hms/agent/game/checksignutil-->
        <source-file src="src/android/com/huawei/android/hms/agent/game/checksignutil/Base64Util.java" target-dir="src/com/huawei/android/hms/agent/game/checksignutil/" />
        <source-file src="src/android/com/huawei/android/hms/agent/game/checksignutil/RSAUtil.java" target-dir="src/com/huawei/android/hms/agent/game/checksignutil/" />
        <!--com/huawei/android/hms/agent/-->
        <source-file src="src/android/com/huawei/android/hms/agent/HMSAgent.java" target-dir="src/com/huawei/android/hms/agent/" />
    </platform>
</plugin>